h1 {
    color: hotpink; 
    font-family: Bahnschrift;
    font-size: 4em;
    height: 60px;
}

h7 {
    color: pink; 
    font-family: Bahnschrift;
    font-size: 4em;
}

h2 {
    color: #ffbb9c;
    font-family: Bahnschrift;
    font-size: 2em;
}

h3 {
    color: lightpink;
    font-family: Bahnschrift;
    font-size: 6em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    white-space: nowrap;
}   

h4 {
    color: lightpink;
    font-family: Bahnschrift;
    font-size: 4em;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%); 
    text-align: center;
    white-space: nowrap;
    margin: 0;
    z-index: 9999; 
}

h5 {
    color: black;
    font-family: Alasassy Caps;
    font-size: 2em;
}

h6 {
    color: lightgrey; 
    font-family: Bahnschrift;
    font-size: 2em;
    position: fixed;
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 50vh;
}
p {
    color: lightgrey; 
    font-family: Bahnsschrift;
    font-size: 2em;
    position: fixed;
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 70vh; 
}
